<!DOCTYPE HTML>
<html>

<head>
  <title>Homepage - theBoomerang</title>
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <meta content="utf-8" http-equiv="encoding">
  <meta name="description" content="TheBox">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/css/bootstrap.css">
</head>

<body>
  <div class="row">
    <div class="col-sm-12 col-md-3">
      <ul class="list-group">
        <li class="list-group-item"><%= link_to 'Products', products_path %></li>
        <li class="list-group-item"><%= link_to 'Categories', categories_path %></li>
      </ul>
    </div>
    <div class="col-sm-12 col-md-9">
      <h2>Orders</h2>
      <%= render 'orders_tabs' %>
    </div>
  </div>

  <script src="/js/jquery.js"></script>
  <script src="/js/bootstrap.js"></script>
</body>

</html>
